<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="blocks/headParams :: headParams">
</head>

<!--<body>-->

<!--<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">-->

<!--    <label for="username">Введите имя пользователя: </label>-->
<!--    <input type="text" th:field="*{username}" id="username"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>-->
<!--    <br/>-->

<!--    <label for="yearOfBirth">Введите год рождения: </label>-->
<!--    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth Error-->
<!--    </div>-->
<!--    <br/>-->

<!--    <label for="password">Введите пароль: </label>-->
<!--    <input type="password" th:field="*{password}" id="password"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>-->
<!--    <br/>-->

<!--    <input type="submit" value="Sign up!"/>-->
<!--</form>-->

<!--</body>-->

<body>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">

                                <div class="form-outline mb-4">

                                    <input type="text" th:field="*{username}" id="form3Example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">Имя</label>
                                    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>


                                </div>


                                <div class="form-outline mb-4">

                                    <input type="text" th:field="*{yearOfBirth}" id="form3Example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Год рождения</label>
                                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>


                                </div>

                                <div class="form-outline mb-4">

                                    <input type="password" th:field="*{password}" id="form3Example4cdg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Пароль</label>

                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/auth/login"
                                                                                                        class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
