<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{blocks/headParams}" >

</head>
<body>
<header th:replace="~{blocks/header}"></header>


<div class="car-filter-container">
    <h2>Фильтр автомобилей</h2><b></b>
    <form id="car-filter-form">

        <div class="form-row">
            <div class="col">
                <label for="brand-select">Марка:</label>
                <select class="form-control" id="brand-select" name="brand">
                    <option value="">Любая</option>
                    <div th:each="brand : ${brands}">
                        <option th:value="${brand.name}"
                                th:text="${brand.name}"
                                th:selected="${selectedBrand == brand.name}"></option>
                    </div>
                </select>
            </div>

            <div class="col"><label for="engine-type-select">Двигатель:</label>
                <select class="form-control" id="engine-type-select" name="engineType">
                    <option value="">Любой</option>
                    <option value="GASOLINE" th:selected="${selectedEngineType == 'GASOLINE'}">Бензиновый</option>
                    <option value="DIESEL" th:selected="${selectedEngineType == 'DIESEL'}">Дизельный</option>
                    <option value="ELECTRIC" th:selected="${selectedEngineType == 'ELECTRIC'}">Электрический</option>
                    <option value="HYBRID" th:selected="${selectedEngineType == 'HYBRID'}">Гибридный</option>
                </select>
            </div>

            <div class="col"><label for="model-type-select">Категория:</label>
                <select class="form-control" id="model-type-select" name="modelType">
                    <option value="">Любая</option>
                    <option value="CAR" th:selected="${selectedModelType == 'CAR'}">Легковой автомобиль</option>
                    <option value="BUSS" th:selected="${selectedModelType == 'BUSS'}">Автобус</option>
                    <option value="TRUCK" th:selected="${selectedModelType == 'TRUCK'}">Грузовик</option>
                    <option value="MOTORCYCLE" th:selected="${selectedModelType == 'MOTORCYCLE'}">Мотоцикл</option>
                </select>
            </div>


            <div class="col"><label for="transmission-select">Трансмиссия:</label>
                <select class="form-control" id="transmission-select" name="transmission">
                    <option value="">Любая</option>
                    <option value="MANUAL" th:selected="${selectedTransmission == 'MANUAL'}">Механическая</option>
                    <option value="AUTOMATIC" th:selected="${selectedTransmission == 'AUTOMATIC'}">Автоматическая</option>
                </select>
            </div>


        </div>
        <button type="submit" class="btn btn-primary">Применить фильтр</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</div>
<div class="container">
    <div th:each="offer : ${offers}" class="card">

        <a th:href="@{/offer/{id}(id=${offer.id})}" class="custom-link">
            <img th:src="${offer.imageUrl}" class="card-img-top" alt="Изображение автомобиля"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${offer.model.brand_name} + ' ' + ${offer.model.name}"></h5>
                <p class="card-text" th:text="${offer.description}"></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Двигатель: ' + ${offer.engine}"></li>
                    <li class="list-group-item" th:text="'Цена: ' + ${offer.price} + ' ₽'"></li>
                </ul>
                <span th:if="${offer.seller_id == currentUserId}" class="badge badge-primary">Мой Оффер</span>

            </div>
        </a>
    </div>
</div>


</body>
</html>