<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="blocks/headParams">
<body>
<header th:replace="blocks/header"></header>

<div class="container mt-5">
    <div class="card">
        <img th:src="${offer.imageUrl}" class="card-img-top" alt="Изображение автомобиля" th:if="${offer.imageUrl}">
        <div class="card-body">
            <h5 class="card-title" th:text="${offer.model.brand_name} + ' ' + ${offer.model.name}">Model Name</h5>
            <p class="card-text" th:text="${offer.description}">Description</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Год: ' + ${offer.year}"></li>
                <li class="list-group-item" th:text="'Двигатель: ' + ${offer.engine}"></li>
                <li class="list-group-item" th:text="'Трансмиссия: ' + ${offer.transmission}"></li>
                <li class="list-group-item" th:text="'Пробег: ' + ${offer.mileage} + ' км'"></li>
                <li class="list-group-item" th:text="'Цена: ' + ${offer.price} + ' ₽'"></li>
            </ul>
        </div>
        <div class="card-footer">
            <small class="text-muted" th:text="'Продавец ID: ' + ${offer.seller_id}"></small>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>