<div th:fragment="header">
  <nav class="navbar">
    <div class="">
      <img th:src="@{/images/T_eng.svg}" alt="logo" class="logo" src="../static/images/T_eng.svg">
    </div>

    <div class="menu">
      <ul>
        <li><a href="/">Offers</a></li>
        <li><a href="/offer/add/">Add offer</a></li>
        <li><a href="/user/">Users</a></li>
        <li><a href="/user/add/">Add user</a></li>
        <li><a href="/model/add/">Create Model</a></li>
        <li><a href="/brand/add/">Create brand</a></li>
      </ul>
    </div>
  </nav>
</div>